<?xml version="1.0"? encoding="utf-8">


{# bluefox_camera_macro {--> #}
{%- macro bluefox_camera_macro(camera_name, parent_link, x, y, z, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-bluefox-camera' -%}
  {%- set spawner_description = 'Add bluefox camera to the vehicle [752x480 @ 50hz], pointing down' -%}
  {%- set spawner_default_args = {'update_rate': 100, 'noise': 0.0} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- bluefox camera {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      camera_topic_name = spawner_args['name'] + '/' + camera_name,
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      horizontal_fov = 2.1,
      image_width = 752,
      image_height = 480,
      min_distance = 0.02,
      max_distance = 80,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/bluefox.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = 0,
      visual_y = 0,
      visual_z = 0,
      visual_roll = math.radians(90),
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = 0,
      pitch = math.radians(90),
      yaw = 0)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# bluefox_camera_reverse_macro {--> #}
{%- macro bluefox_camera_reverse_macro(camera_name, parent_link, x, y, z, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-bluefox-camera-reverse' -%}
  {%- set spawner_description = 'Add bluefox camera to the vehicle [752x480 @ 50hz], pointing down but image is rotated by 180 deg' -%}
  {%- set spawner_default_args = {'update_rate': 100, 'noise': 0.0} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- bluefox camera reverse {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      sensor_base_frame_name = spawner_args['name'] + '/' + camera_name,
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      horizontal_fov = 2.1,
      image_width = 752,
      image_height = 480,
      min_distance = 0.02,
      max_distance = 80,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/bluefox.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = 0,
      visual_y = 0,
      visual_z = 0,
      visual_roll = math.radians(90),
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = 0,
      pitch = math.radians(90),
      yaw = math.radians(180))
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# bluefox_camera_front_macro {--> #}
{%- macro bluefox_camera_front_macro(camera_name, parent_link, x, y, z, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-bluefox-camera-front' -%}
  {%- set spawner_description = 'Add bluefox camera to the vehicle [752x480 @ 50hz], pointing forward' -%}
  {%- set spawner_default_args = {'update_rate': 100, 'noise': 0.0} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- bluefox camera {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      sensor_base_frame_name = spawner_args['name'] + '/' + camera_name,
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      horizontal_fov = 2.1,
      image_width = 752,
      image_height = 480,
      min_distance = 0.02,
      max_distance = 80,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/bluefox.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = 0,
      visual_y = 0,
      visual_z = 0,
      visual_roll = math.radians(90),
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}