<?xml version="1.0"? encoding="utf-8">
{%- import 'mrs_robots_description/sdf/components/generic_components.sdf.jinja' as generic -%}


{# mobius_down_macro {-->#}
{%- macro mobius_down_macro(camera_name, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-mobius-camera-down' -%}
  {%- set spawner_description = 'Add mobius camera to the vehicle [1280x720 @ 30hz], pointing down' -%}
  {%- set spawner_default_args = {'update_rate': 30, 'noise': 0.007} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Mobius down {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      sensor_base_frame_name = spawner_args['name']  + '/' + camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      horizontal_fov = 2.28638,
      image_width = 1280,
      image_height = 720,
      min_distance = 0.02,
      max_distance = 40,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/mobius.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = -0.004,
      visual_y = 0.0045,
      visual_z = 0,
      visual_roll = 0,
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# mobius_front_macro {-->#}
{%- macro mobius_front_macro(camera_name, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-mobius-camera-front' -%}
  {%- set spawner_description = 'Add mobius camera to the vehicle [1280x720 @ 30hz], pointing forward' -%}
  {%- set spawner_default_args = {'update_rate': 30, 'noise': 0.007} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Mobius front {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      sensor_base_frame_name = spawner_args['name']  + '/' + camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      horizontal_fov = 2.28638,
      image_width = 1280,
      image_height = 720,
      min_distance = 0.02,
      max_distance = 40,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/mobius.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = -0.004,
      visual_y = 0.0045,
      visual_z = 0,
      visual_roll = 0,
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# mobius_back_left_macro {-->#}
{%- macro mobius_back_left_macro(camera_name, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-mobius-camera-back-left' -%}
  {%- set spawner_description = 'Add mobius camera to the vehicle [1280x720 @ 30hz], pointing to the back left' -%}
  {%- set spawner_default_args = {'update_rate': 30, 'noise': 0.007} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Mobius back left {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      sensor_base_frame_name = spawner_args['name']  + '/' + camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      horizontal_fov = 2.28638,
      image_width = 1280,
      image_height = 720,
      min_distance = 0.02,
      max_distance = 40,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/mobius.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = -0.004,
      visual_y = 0.0045,
      visual_z = 0,
      visual_roll = 0,
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# mobius_back_right_macro {-->#}
{%- macro mobius_back_right_macro(camera_name, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-mobius-camera-back-right' -%}
  {%- set spawner_description = 'Add mobius camera to the vehicle [1280x720 @ 30hz], pointing to the back right' -%}
  {%- set spawner_default_args = {'update_rate': 30, 'noise': 0.007} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Mobius back right {-->

    <!-- sensor {-->
    {{ generic.camera_macro(
      parent_link = parent_link,
      camera_name = camera_name,
      camera_frame_name = spawner_args['name'] + '/' + camera_name + '_optical',
      frame_rate = spawner_args[spawner_keyword]['update_rate'],
      sensor_base_frame_name = spawner_args['name']  + '/' + camera_name,
      parent_frame_name = spawner_args['name'] + '/fcu',
      horizontal_fov = 2.28638,
      image_width = 1280,
      image_height = 720,
      min_distance = 0.02,
      max_distance = 40,
      noise_mean = 0.0,
      noise_stddev = spawner_args[spawner_keyword]['noise'],
      mesh_file = 'model://mrs_robots_description/meshes/sensors/mobius.dae',
      mesh_scale = '1 1 1',
      color = 'DarkGrey',
      visual_x = -0.004,
      visual_y = 0.0045,
      visual_z = 0,
      visual_roll = 0,
      visual_pitch = 0,
      visual_yaw = 0,
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}