<?xml version="1.0"? encoding="utf-8">


{# realsense_top_macro {--> #}
{%- macro realsense_top_macro(camera_name, camera_suffix, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-realsense-top' -%}
  {%- set spawner_description = 'Add Intel Realsense D435 depth camera to the vehicle [1280x720 @ 30hz], pointed forward, placed on an aluminum frame above the body' -%}
  {%- set spawner_default_args = {'realistic': False, 'update_rate': 30} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Realsense top {-->

    <!-- sensor {-->
    {{ generic.realsense_d435_macro(
      namespace = spawner_args['name'],
      camera_name = camera_name,
      camera_suffix = camera_suffix,
      parent_link = parent_link,
      realistic = spawner_args[spawner_keyword]['realistic'],
      update_rate = spawner_args[spawner_keyword]['update_rate'],
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}

{%- endmacro -%}
{# <!--}--> #}

{# realsense_front_macro {--> #}
{%- macro realsense_front_macro(camera_name, camera_suffix, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-realsense-front' -%}
  {%- set spawner_description = 'Add Intel Realsense D435 depth camera to the vehicle [1280x720 @ 30hz], pointed forward placed on the front holder between the legs' -%}
  {%- set spawner_default_args = {'realistic': False, 'update_rate': 30} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Realsense front {-->

    <!-- sensor {-->
    {{ generic.realsense_d435_macro(
      namespace = spawner_args['name'],
      camera_name = camera_name,
      camera_suffix = camera_suffix,
      parent_link = parent_link,
      realistic = spawner_args[spawner_keyword]['realistic'],
      update_rate = spawner_args[spawner_keyword]['update_rate'],
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}

{%- endmacro -%}
{# <!--}--> #}

{# realsense_front_pitched_macro {--> #}
{%- macro realsense_front_pitched_macro(camera_name, camera_suffix, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-realsense-front-pitched' -%}
  {%- set spawner_description = 'Add Intel Realsense D435 depth camera to the vehicle [1280x720 @ 30hz], pointed forward pitched down by 10-45 deg (angle depends on vehicle model)' -%}
  {%- set spawner_default_args = {'realistic': False, 'update_rate': 30} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Realsense front pitched {-->

    <!-- sensor {-->
    {{ generic.realsense_d435_macro(
      namespace = spawner_args['name'],
      camera_name = camera_name,
      camera_suffix = camera_suffix,
      parent_link = parent_link,
      realistic = spawner_args[spawner_keyword]['realistic'],
      update_rate = spawner_args[spawner_keyword]['update_rate'],
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}

{%- endmacro -%}
{# <!--}--> #}

{# realsense_up_macro {--> #}
{%- macro realsense_up_macro(camera_name, camera_suffix, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-realsense-up' -%}
  {%- set spawner_description = 'Add Intel Realsense D435 depth camera to the vehicle [1280x720 @ 30hz], pointed upwards' -%}
  {%- set spawner_default_args = {'realistic': False, 'update_rate': 30} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Realsense up {-->

    <!-- sensor {-->
    {{ generic.realsense_d435_macro(
      namespace = spawner_args['name'],
      camera_name = camera_name,
      camera_suffix = camera_suffix,
      parent_link = parent_link,
      realistic = spawner_args[spawner_keyword]['realistic'],
      update_rate = spawner_args[spawner_keyword]['update_rate'],
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}

{%- endmacro -%}
{# <!--}--> #}

{# realsense_down_macro {--> #}
{%- macro realsense_down_macro(camera_name, camera_suffix, parent_link, x, y, z, roll, pitch, yaw, mount, spawner_args) -%}

  {%- set spawner_keyword = 'enable-realsense-down' -%}
  {%- set spawner_description = 'Add Intel Realsense D435 depth camera to the vehicle [1280x720 @ 30hz], pointed down' -%}
  {%- set spawner_default_args = {'realistic': False, 'update_rate': 30} -%}

  {%- if spawner_keyword in spawner_args.keys() -%}
    {{ generic.handle_spawner_args(spawner_keyword, spawner_default_args, spawner_args) }}

    <!-- Realsense down {-->

    <!-- sensor {-->
    {{ generic.realsense_d435_macro(
      namespace = spawner_args['name'],
      camera_name = camera_name,
      camera_suffix = camera_suffix,
      parent_link = parent_link,
      realistic = spawner_args[spawner_keyword]['realistic'],
      update_rate = spawner_args[spawner_keyword]['update_rate'],
      x = x,
      y = y,
      z = z,
      roll = roll,
      pitch = pitch,
      yaw = yaw)
    }}
    <!--}-->

    <!-- mount {-->
    {{ mount if mount }}
    <!--}-->

    <!--}-->

  {%- endif -%}

{%- endmacro -%}
{# <!--}--> #}
