<?xml version="1.0" encoding="utf-8"?>
{%- import 'mrs_robots_description/sdf/components/generic_components.sdf.jinja' as generic -%}


{# uvled_macro {--> #}
{%- macro uvled_macro(parent_link, device_id, signal_id , x, y, z, roll, pitch, yaw) -%}
<link name="uvled_{{ device_id }}_link">
  <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
  {{ generic.zero_inertial_macro() }}
  <visual name="main_body_visual">
    <pose>0 0 -0.0025 0 0 0</pose>
    <geometry>
      <cylinder>
        <length>0.005</length>
        <radius>0.007</radius>
      </cylinder>
    </geometry>
    <material>
      <script>
        <name>Gazebo/DarkGrey</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
    </material>
  </visual>
  <visual name="electrodes_visual">
    <pose>0 0 -0.0025 0 0 0</pose>
    <geometry>
      <box>
        <size>0.001 0.02 0.001</size>
      </box>
    </geometry>
    <material>
      <script>
        <name>Gazebo/DarkGrey</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
    </material>
  </visual>
  <visual name="lens_visual">
    <pose>0 0 0 0 0 0</pose>
    <geometry>
      <sphere>
        <radius>0.005</radius>
      </sphere>
    </geometry>
    <material>
      <script>
        <name>Gazebo/BlueTransparent</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
    </material>
  </visual>
</link>

<plugin name="uvdar_gazebo_plugin::UvLed" filename="libuvdar_led.so">
  <alwaysOn>false</alwaysOn>
  <updateRate>1</updateRate>
  <signal_id>{{ signal_id }}</signal_id>
  <device_id>{{ device_id }}</device_id>
  <link_name>uvled_{{ device_id }}_link</link_name> 
</plugin>

<joint name="uvled_{{ device_id }}_joint" type="fixed">
  <parent>{{ parent_link }}</parent>
  <child>uvled_{{ device_id }}_link</child>
  <disableFixedJointLumping>true</disableFixedJointLumping>
  <preserveFixedJoint>true</preserveFixedJoint>
</joint>
{%- endmacro -%}
{# <!--}--> #}
